<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" contetn="ie=edge">
        <link rel="stylesheet" type="text/css" href="~/css/style.css">
        <title>Contact</title>
    </head>
    <body>
        <nav>
            <a href="/">home</a>
            <a href="/projects">projects</a>
            <a href="/contact">contact</a>
        </nav>
        <h1>Contact</h1>
        <form action='/' method='get'>
            <p>Name: <input type='text' name='Name'></p>
            <p>e-mail: <input type='text' name='Email'></p>
            <p>Message: </p>
            <input class='message' type='textarea' rows=10 name='Message'>
            <input class='submit' type='submit' value='Submit'>
        </form>
    </body>
</html>