<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" contetn="ie=edge">
        <link rel="stylesheet" type="text/css" href="~/css/style.css">
        <title>Home</title>
    </head>
    <body>
        <nav>
            <a href="/">home</a>
            <a href="/projects">projects</a>
            <a href="/contact">contact</a>
        </nav>
         <img id="ben" src="~/images/photo.jpg" alt="Ben Levin" /> 
         <h1>Ben Levin</h1>
         <h3>About Me:</h3>
         <p>I have hair and eyes... even multiple toes!</p> 
    </body>
</html>