<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" contetn="ie=edge">
        <link rel="stylesheet" type="text/css" href="~/css/style.css">
        <title>Projects</title>
    </head>
    <body>
        <nav>
            <a href="/">home</a>
            <a href="/projects">projects</a>
            <a href="/contact">contact</a>
        </nav>
        <h1>Projects</h1>
        <div class='project'>
            <h3>Blockbuster Video</h3>
            <img class="proj" src="~/images/blockbuster.png" alt="Blockbuster" /> 
            <p>Chief expert on distribution technology, circa 2005.</p>
        </div>
        <div class='project'>
            <h3>Enron</h3>
            <img class="proj" src="~/images/enron.png" alt="Enron" /> 
            <p>Headed the internal business ethics committee.</p>
        </div>
        <div class='project'>
            <h3>United Airlines</h3>
            <img class="proj" src="~/images/united.png" alt="United Airlines" /> 
            <p>Spiritual advisor to operations director and customer relations guru.</p>
        </div>
    </body>
</html>