<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" contetn="ie=edge">
        <link rel="stylesheet" type="text/css" href="~/css/style.css">
        <script type="text/javascript" src="~/js/time.js"></script> 
        <title>Random Passcode Generator</title>
    </head>
    <body>
        <h3>Random passcode (passcode #@ViewBag.Counter)</h3>
        <h4>@ViewBag.Result</h4>
        <a href="/generate"><button type=''>Generate</button></a>
        <a href="/reset"><button type=''>Reset Session</button></a>
    </body>
</html>