@using ecommerce.Models
@{
    ViewData["Title"] = "Store | Registration + Login";
}
<div id="registration">
    <h2>Register</h2>
    @Html.Partial("_RegistrationPartial")
</div>
<div id="login">
    <h2>Login</h2>
    @Html.Partial("_LoginPartial")
</div>