<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" contetn="ie=edge">
        <title>Dojo Survey Index</title>
    </head>
    <body>
      <h3>Submitted Info</h3>
        <p>Name: @ViewBag.Result["Name"]</p>
        <br>
        <p>Dojo Location: @ViewBag.Result["Location"]</p>
        <br>
        <p>Favorite Language: @ViewBag.Result["Language"]</p>
        <br>
        <p>Comment: @ViewBag.Result["Comment"]</p>
        <br>
        <a href='/'>Go Back</a>
    </body>
</html>