@model user_dash.Models.UserEditPasswordSendModel
<form asp-controller="User" asp-action="updatepassword" method="post">
    <label asp-for="EdPassword"></label>
    <input asp-for="EdPassword"/>
    <span asp-validation-for="EdPassword"></span>
    <br>
    <label asp-for="EdPasswordConfirmation"></label>
    <input asp-for="EdPasswordConfirmation"/>
    <span asp-validation-for="EdPasswordConfirmation"></span>
    <br>
    <input asp-for="ID" value="@{@ViewBag.User.ID}" type="hidden"/>
    <button type="submit">Update Password</button>
    <br>
</form>