@{
    ViewData["Title"] = "Home Page";
}
<h2>User Dashboard Application</h2>
<div class="homesection">
    <h3>Manage Users</h3>
    <p>Using this application, you'll learn how to add, remove, and edit users for the application.</p>
</div>
<div class="homesection">
    <h3>Leave Messages</h3>
    <p>Users will be able to leave a message to another user using this application.</p>
</div>
<div class="homesection">
    <h3>Edit User Information</h3>
    <p>Admins will be able to edit another user's information (e.g. e-mail address, first name, last name).</p>
</div>