@using user_dash.Models
@{
    ViewData["Title"] = "Registration";
}
<div id="registration">
    <h2>Register</h2>
    @Html.Partial("_RegisterPartial")
    <a href="/login">Already registered?</a>
</div>