@model bank_accounts.Models.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<h3>Register</h3>
<form asp-controller="Bank" asp-action="processregistration" method="post">
    <label asp-for="FirstName"></label>
    <input asp-for="FirstName"/>
    <span asp-validation-for="FirstName"></span>
    <br>
    <label asp-for="LastName"></label>
    <input asp-for="LastName"/>
    <span asp-validation-for="LastName"></span>
    <br>
    <label asp-for="Email"></label>
    <input asp-for="Email"/>
    <span asp-validation-for="Email">@ViewBag.Error</span>
    <br>
    <label asp-for="Password"></label>
    <input asp-for="Password"/>
    <span asp-validation-for="Password"></span>
    <br>
    <label asp-for="PasswordConfirmation"></label>
    <input asp-for="PasswordConfirmation"/>
    <span asp-validation-for="PasswordConfirmation"></span>
    <br>
    <button type="submit" id="submit">Submit</button>
    <a href="/login">Already Registered?</a>
</form>