<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" contetn="ie=edge">
        <link rel="stylesheet" type="text/css" href="~/css/style.css">
        <title>You Won!</title>
    </head>
    <body>
        <img src='~/images/dojodachi.png' alt='dojodachi'>
        <h4>@ViewBag.Message</h4>
        <br>
        <a href='/reset'><button type=''>Restart?</button></a>
    </body>
</html>